.root___3nnZK{padding:32px}.step-wrap___2lW12{margin-bottom:32px}
.strong___3cl8x{color:#dc143c}
.root___3YhSt{display:flex}.options-wrap___1bucv{padding-left:32px;flex:1 1;display:flex;flex-direction:column;justify-content:center}.action-wrap___28E91{text-align:center;margin-top:32px}.download-btn___3sCsX,.prev-btn___3Tyz9{margin-right:32px}
